:root {
  --space-maroon: #9b111e;
  --space-whey: white;
  --space-red: #ff4a56;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background: radial-gradient(circle at 100%, var(--space-maroon), var(--space-maroon) 60%, #dfa5a5 75%, var(--space-maroon) 75%, transparent), radial-gradient(ellipse at top, var(--space-maroon), var(--space-maroon) 50%, #eee 75%, var(--space-maroon) 75%, transparent);
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--space-whey);
  text-decoration: none;
}

p {
	text-shadow: 2px 2px 20px  lightpink;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--space-whey);
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

#atp {
	font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;

  font-size: small;
}

.container {
	text-align: center;
	left: 0%;
  top: 20%;
  width: 100%;
	position: fixed;
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

button {
	box-shadow: 0 4px 2px -2px lightpink;
  background-color: var(--space-whey);
  border: 1px solid var(--space-red);
  line-height: 0;
  font-size: 15px;
  padding: 20px 15px;
  border-radius: 60px;
  color: var(--space-red);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

button:hover, form button:focus {
  color: var(--space-whey);
  background-color: var(--space-red);
	box-shadow: 0 6px 9px -2px lightpink;
}

input[type="text"] {
	box-shadow: 0 6px 9px -2px lightpink;
	left: 36.5%;
  position: relative;
  margin-bottom: 20px;
  background-color: var(--space-whey);
  border: 1px solid var(--space-whey);
  line-height: 0;
  font-size: 17px;
  width: 25%;
	display: block;
  padding: 10px 15px;
  border-radius: 60px;
  color: var(--space-red);
  font-weight: 100;
  letter-spacing: 0.01em;
  
}

input[type="text"]:focus {
	box-shadow: 0 8px 9px -2px lightpink;
  outline: none;
  background: var(--space-red);
  color: var(--space-whey);
  
}

input[type="text"]:focus ~ label {
  color: var(--space-whey);
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

input[type="text"]:valid ~ label {
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  } 
}

.incorrect {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; 
}

 html {
  height: 100%;
}

.loader {
  position: absolute;
  top: calc(0% - 64px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 5s linear infinite;
  border-bottom: 3px solid var(--space-whey);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 2.5s linear infinite;
  border-right: 3px solid var(--space-whey);;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 2s linear infinite;
  border-top: 3px solid var(--space-whey);;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
