html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
}

a {
  color: #ff4a56;
  text-decoration: none;
}

p {
    left: 51%;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff4a56;
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
}

* {
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}


#atp {
  left: 49%;
  font-size: small;
}


.container {
    top: 20%;
    width: 100%;
		position:fixed;
}

.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}


button {
  left: 50%;
  background-color: white;
  border: 1px solid #ff4a56;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

button:hover, form button:focus {
  color: white;
  background-color: #ff4a56;
}

  


input[type="text"] {
  left: 40%;
  top: 40%;
  position: relative;
  margin-bottom: 20px;
  appearance: none;
  background-color: #ff4a5e;
  border: 1px solid #ff4a56;
  line-height: 0;
  font-size: 17px;
  width: 25%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  z-index: 1;
}

 input[type="text"]:focus {
  outline: none;
  background: white;
  color: #ff4a5e;
}

input[type="text"]:focus ~ label {
  color: #ff4a56;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

input[type="text"]:valid ~ label {
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
  