html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
body {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
}
  
p {
    text-align: center;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
    color: #ff4a56;
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}

button {
    left: 47.5%;
    background-color: white;
    border: 1px solid #ff4a56;
    line-height: 0;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 60px;
    color: #ff4a56;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    width: 5%;
}

button:hover, form button:focus {
    color: white;
    background-color: #ff4a56;
}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
    